@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin: 0px;
    padding: 0px;
    width: 100%s;
    font-family: 'Roboto';
    
}

body{
    background-image: url(/img/The_Last_of_US_Game_HD_Wallpaper_08_1366x768.jpg);
    background-size: 1420px;
    background-repeat: no-repeat;
    background-color: black;
}
.logo-the-last{
    width: 23%;
    background-color:rgba(0, 0, 0, .8);
    height: 730px;
}

.logo-t{
    width: 200px;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 15px;
}

.section-logo{
}

.contenedor-barra-de-navegacion{
    
}

.lista-de-navegacion{
    width: 98%;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    color: whitesmoke;
}

.lista-de-navegacion-texto{
    width: 70%;
    padding-left: 40px;
    padding-right: 5px;
    margin-bottom: 10px;
    padding-top: 15px;
    margin-bottom:10px;
    border-bottom: solid rgba(254, 193, 7, .5);
}

a{
    color: whitesmoke;
    text-decoration: none;
    display: flex;
}

.texto-pagina-principal{
    justify-content: center;
    color: white;
    width: 90%;
    text-align: center;
    padding: 60px;
    margin-top: 50px;
    

}

.title{
    margin-top: 40px;
    margin-bottom: 40px;
    background-color:  rgba(254, 193, 7, .2);
    padding: 10px;
    border-bottom: solid  rgba(254, 193, 7, .2);
}

.subtitle{
    padding-bottom: 20px;
    margin-top: 50px;
}

.text{
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
    color: #D5D4D4;
    font-family:  Helvetica, sans-serif;
    
}

.joel{
    display: flex;
}
.imagen-joel{
    width: 250px;
    margin-left: 100px;
    border-bottom: 5px solid rgba(254, 193, 7, .2);
}

.ellie{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 100px;
    
}

.ellie-imagen{
    width: 250px;
    border-bottom: 5px solid rgba(254, 193, 7, .2);
    
}
.premios-imagen{
    width: 90%;
}

.texto-reconcimientos text{
    align-items: center;
}